.register-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h2.register {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff !important;
}
.registerForm{
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btn-container{
    text-align: center;
    margin-top: 30px;
}
.register-container .btn{
	font-weight: bold !important; 
    
}
